section.project-container {
  position: relative;
  min-height: 100vh;
  padding: 0 20%;
  color: #fff;
  text-align: center;
  padding: 5rem;
}

img.project-img {
  width: 50%;
  display: block;
  margin: auto;
}

p.p-projects-container {
  padding: 0 20%;
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  color: #fff;
}

section h2.title-projects {
  padding: 2rem;
}

h2.title-projects-container {
  font-size: 30px;
  color: #3ae7ff;
  font-size: 30px;
  margin: 0 30px;
}

p.p-projects-container {
  font-size: 18px;
  color: #fff;
  padding: 0 20%;
}

p.p-projects-container em {
  color: #3ae7ff;
}

section.project-container form.buttons-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

button.button-code,
button.button-code-preview,
button.button-code-github {
  cursor: pointer;
  padding: 4px;
  border-radius: 10%;
  margin: 0 5px;
  background-color: #fff;
  font-weight: lighter;
  border: none;
}

button.button-code:hover,
button.button-code-preview:hover,
button.button-code-github:hover {
  background-color: yellow;
}

a {
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 250px) and (max-width: 1200px) {
  section.project-container {
    min-height: 10vh;
  }

  img.project-img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 250px) and (max-width: 768px) {
  p.p-projects-container {
    padding: 0 7%;
  }
}
