header.description-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

main.description {
  font-weight: lighter;
  font-size: 2rem;
  color: #fff;
  padding: 0 225px;
}

main.description h5.my_name_is {
  font-weight: lighter;
  font-size: 25px;
}

main.description h1.name {
  color: #3ae7ff;
  font-family: Helvetica;
  line-height: normal;
}

main.description p.activities {
  margin: 10px 0;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main.description p.activities em {
  color: #3ae7ff;
}

@media only screen and (min-width: 250px) and (max-width: 768px) {
  header.description-container {
    padding: 5px;
  }
  main.description {
    padding: 0 20px;
    font-size: 20px;
  }
  main.description p.activities {
    margin: 5px 0;
    font-size: 16px;
  }
}
