section.description-container {
  margin: 10%;
  margin-top: 100px;
  color: #fff;
}

.txt,
.cta-txt,
.exp-date,
.exp-rol,
.exp-name,
.exp-txt {
  font-size: 15px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 35px;
  color: #3ae7ff;
  margin: 1rem 0;
}

.txt {
  margin: 1rem 0;
}

.available {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  margin: 1.5rem 0;
  border-radius: 0.5rem;
  border: 1px #3ae7ff solid;
}

.green-light {
  width: 15px;
  height: 15px;
  background-color: #90fcab;
  border-radius: 50%;
  box-shadow: 0 0 10px #90fcab;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 10px #90fcab;
  }
  50% {
    opacity: 0.6;
    box-shadow: 0 0 5px #90fcab;
  }
}

.is-available {
  margin: 0 0.7rem;
}

.subtitle {
  font-weight: 600;
  font-size: 30px;
  color: #3ae7ff;
}

#project-container {
  cursor: pointer;
  margin: 10% 0;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px #3ae7ff solid;
  color: #fff;
}

#project-title {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin: 1% 0;
}

.description-project {
  padding: 1rem 0;
}

.cta-title {
  color: #3ae7ff;
  font-weight: 300;
  margin: 0.5rem 0;
}

.cta-linkedin-btn {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  width: 35%;
}

.exp-info {
  margin: 1rem 0;
}

.circle-blue {
  font-size: 10px;
  margin-right: 4px;
}

.exp-date {
  color: #3ae7ff;
  font-weight: 300;
}

.exp-rol {
  font-weight: 300;
  color: #f9f871;
}

.exp-name {
  font-weight: 300;
  font-style: italic;
  color: #90fcab;
}

.exp-txt {
  margin: 1.5rem 0;
}

.copyrights {
  color: #fff;
  padding: 2px;
  font-style: italic;
  font-weight: lighter;
}

#btn-home {
  cursor: pointer;
  margin: 30px 0;
  padding: 10px;
  color: #000;
  background-color: #3ae7ff;
  border-radius: 50%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.code-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  background-color: #3ae7ff;
  color: #000;
  margin: 5px 0;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}

.code-btn:hover,
#preview:hover,
#coding:hover,
#portfolio:hover {
  background-color: #fff;
}

#preview {
  background-color: #90fcab;
}

#coding {
  background-color: #f9f871;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  color: #000;
  width: 100%;
  text-align: center;
}

.info-list {
  font-size: 14px;
  margin: 0;
  padding: 2rem;
}

@media (481px <= width <= 768px) {
  section.description-container {
    margin: 20%;
  }

  .title {
    font-size: 45px;
  }

  .txt,
  .cta-txt,
  .exp-date,
  .exp-rol,
  .exp-name,
  .exp-txt,
  .available {
    font-size: 18px;
  }

  .available {
    padding: 1rem;
    margin: 2rem 0;
  }

  .subtitle {
    font-size: 35px;
    color: #3ae7ff;
  }

  #project-title {
    font-size: 20px;
    margin: 2% 0;
  }

  .description-project {
    padding: 0.5rem 0;
  }

  .cta-title {
    font-size: 30px;
    font-weight: 400;
    color: #3ae7ff;
    margin: 0.5rem 0;
  }

  .cta-linkedin-btn {
    width: 15%;
    padding: 0.5rem 0;
  }

  .copyrights,
  .circle-blue {
    font-size: 12px;
  }
}

@media (769px <= width <= 1200px) {
  section.description-container {
    margin: 25%;
  }

  .title {
    font-size: 45px;
  }

  .txt,
  .cta-txt,
  .exp-date,
  .exp-rol,
  .exp-name,
  .exp-txt,
  .available {
    font-size: 18px;
  }

  .subtitle {
    font-size: 35px;
  }

  #project-title {
    font-size: 18px;
  }

  .description-project {
    padding: 0.3rem 0;
  }

  .cta-txts-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cta-title {
    font-size: 30px;
  }

  .cta-linkedin-btn {
    width: 4rem;
    padding: 0.5rem 0;
  }
}

@media (1201px <= width <= 1919px) {
  section.description-container {
    margin: 20% 30%;
    margin-bottom: 10%;
  }
  .title {
    font-size: 45px;
  }

  .txt,
  .cta-txt,
  .exp-date,
  .exp-rol,
  .exp-name,
  .exp-txt,
  .available {
    font-size: 16px;
  }
  .cta-txts-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cta-title {
    font-size: 25px;
  }

  .cta-linkedin-btn {
    width: 4rem;
    padding: 0.5rem 0;
  }
}

@media (1920px <= width) {
  section.description-container {
    margin: 10% 35%;
    margin-bottom: 10%;
  }
  .cta-txts-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cta-title {
    font-size: 25px;
  }

  .cta-linkedin-btn {
    width: 4rem;
    padding: 0.5rem 0;
  }
}
