#introduction,
#about {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 64, 86, 1) 100%
  );
}

section.description-container {
  margin: 20% 200px;
  text-align: justify;
  color: #fff;
}

.title {
  font-weight: 600;
  font-size: 60px;
  padding-bottom: 15px;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  color: #3ae7ff;
}

.copyrights {
  color: #fff;
  padding: 2px;
  font-style: italic;
  font-weight: lighter;
}

#btn-home {
  cursor: pointer;
  margin: 30px 0;
  padding: 10px;
  color: #000;
  background-color: #3ae7ff;
  border-radius: 50%;
}

.txt {
  font-weight: lighter;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

em {
  color: #3ae7ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#project-container {
  text-align: center;
  padding: 2rem;
  margin: 2% 250px;
}

#project-title {
  color: #fff;
  font-weight: 600;
  margin: 10px;
}

.code-btn {
  cursor: pointer;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  background-color: #3ae7ff;
  color: #000;
  margin: 5px 0;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}

.code-btn:hover,
#preview:hover,
#coding:hover,
#portfolio:hover {
  background-color: #fff;
}

#preview {
  background-color: #90fcab;
}

#coding {
  background-color: #f9f871;
}

#portfolio {
  background-color: #3ae7ff;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  margin-top: 50px;
  color: #000;
  width: 100%;
  text-align: center;
}

.info-list {
  font-size: 14px;
  margin: 0;
  padding: 2rem;
}

#details-info {
  margin: 15px 0;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  font-size: 16px;
  border: #3ae7ff 1px solid;
  padding: 0.8rem;
}

#details-info:hover {
  cursor: pointer;
  color: #90fcab;
}

.id-novisible {
  display: none;
}

.form-container {
  text-align: center;
  margin: 10px 0;
}

.title-form {
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
}

input,
textarea {
  cursor: pointer;
  margin: -5px 0;
  border-radius: 5px;
  border: none;
  padding: 4px;
  width: 60%;
  height: auto;
  background-color: #fff;
}

.label-form {
  display: block;
  color: #3ae7ff;
  margin: 10px 0;
}

textarea {
  height: 150px;
}

.btn-submit {
  cursor: pointer;
  background-color: #90fcab;
  color: #000;
  font-weight: lighter;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
  background-color: #90fcab;
  color: #000;
  font-weight: lighter;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0;
}

@media only screen and (min-width: 250px) and (max-width: 1200px) {
  section.description-container {
    margin: 20% 30px;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 25px;
  }
  .txt {
    font-size: 16px;
  }
  .menu-btn {
    font-size: 22px;
    padding: 10px;
  }
  .code-btn {
    font-size: 12px;
    margin: 5px 0;
    margin-right: 5px;
    padding: 0.5rem;
  }
  #project-container {
    margin: 2% 1%;
  }
  #details-info {
    font-size: 12px;
  }
  .title-form {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  section.description-container {
    margin: 200px 30%;
  }
  .title {
    font-size: 50px;
  }

  #project-title {
    font-size: 25px;
    margin: auto;
  }

  .buttons-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .subtitle {
    font-size: 40px;
  }
  .txt {
    font-size: 22px;
  }
  .menu-btn {
    font-size: 30px;
    padding: 20px;
  }
  .code-btn {
    font-size: 13px;
    margin: 10px 5px;
  }

  input,
  textarea {
    width: 20%;
  }

  .project-grip-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 200px;
  }

  #project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #134f66;
    margin: 0 auto;
    height: 250px;
    width: auto;
  }

  #project-container:hover {
    cursor: pointer;
    background-color: #063446;
  }
}
