#introduction,
#about {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.description-container {
  margin: 20% 250px;
  text-align: justify;
  color: #fff;
}

.title {
  font-weight: 600;
  font-size: 60px;
  padding-bottom: 15px;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  color: #3ae7ff;
}

.txt {
  font-weight: lighter;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

em {
  color: #3ae7ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#project-name {
  display: block;
  text-align: center;
}

.code-btn {
  cursor: pointer;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  background-color: #3ae7ff;
  color: #000;
  margin: 10px 0;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.info-list {
  font-size: 14px;
}

.copyrights {
  font-weight: 500;
  text-align: center;
}
