ul.socialMedia-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2rem;
}

ul.socialMedia-container li a {
  cursor: pointer;
  margin: 2rem;
  color: #fff;
  font-size: 18px;
}

ul.socialMedia-container li a:hover {
  color: #fff;
  border-bottom: #fff 2px solid;
}
