ul.socialMedia-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  padding: 1rem;
}

ul.socialMedia-container li a {
  cursor: pointer;
  margin: 2rem;
  color: #fff;
}

ul.socialMedia-container li a:hover {
  color: #3ae7ff;
  border-bottom: #3ae7ff 2px solid;
}
