section.description-container {
  margin: auto;
  padding: 12rem;
}

p.description {
  text-align: center;
  margin: 0 20%;
  padding: 2rem;
  font-weight: lighter;
  font-size: 1.8rem;
  color: #fff;
}

nav.buttons-container {
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 1199.98px) {
  section.description-container {
    padding: 0.05rem;
    font-size: 0.02rem;
    margin: 0.05rem;
  }
  p.description {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  section.description-container {
    margin: 10rem 0;
  }
  p.description {
    font-size: 1.5rem;
  }
}
