section.description-container {
  margin: 10rem;
  padding: 5rem;
}

h3.description {
  text-align: center;
  margin: 0 20%;
  padding: 2rem;
  font-weight: lighter;
  font-size: 1.8rem;
  color: #fff;
}

nav.buttons-container {
  margin: 1rem 2rem;
}
