ul {
  list-style: none;
}

a {
  text-decoration: none;
}

div ul.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 1rem 0;
  background-color: #004056;
  font-size: 1rem;
  border-bottom: 0.3rem solid #3ae7ff;
}

div ul li {
  padding: 0.5rem;
  color: #fff;
}

div ul li:hover {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #3ae7ff;
}

div.socialmedia-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

div.socialmedia-container li a {
  color: #fff;
  font-size: 1rem;
}

div.socialmedia-container li a:hover {
  cursor: pointer;
  color: #3ae7ff;
}

@media (max-width: 600px) {
  div ul.navbar {
    width: 100vw;
    font-size: 0.8rem;
  }
}
