header.navbar-container {
  display: flex;
  justify-content: space-between;
  color: #3ae7ff;
  margin: 1rem;
  padding: 1rem 3rem;
}

header.navbar-container .back-to-home {
  text-decoration: none;
  color: #fff;
}

header.navbar-container .back-to-home h4 {
  cursor: pointer;
  text-decoration: none;
  font-weight: lighter;
  margin: 0 1rem;
}

header.navbar-container h4:hover {
  color: #f9f871;
}

header div.navbar-container-right {
  display: flex;
}

header div.navbar-container-right section.navbar-buttons {
  display: flex;
  align-items: center;
}

header div.navbar-container-right section.navbar-buttons a {
  list-style: none;
  text-decoration: none;
  margin: 0 1rem;
  color: #fff;
}

header div.navbar-container-right section.navbar-buttons a:hover {
  cursor: pointer;
  color: #3ae7ff;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  header.navbar-container {
    margin: 1rem;
    padding: 1rem 0;
  }
}
