section.ownDescription-container h2.title-ownDescription {
  color: #fff;
}

section.ownDescription-container p.p-container {
  text-align: center;
  margin: 0 20%;
  padding: 2rem;
  font-weight: lighter;
  font-size: 1.2rem;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 1199.98px) {
  section.ownDescription-container p.p-container {
    font-size: 0.9rem;
    margin: 0 5%;
  }
}

@media (min-width: 1200px) {
  section.ownDescription-container {
    margin: 4rem 0;
  }
}
