section.aboutMe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  padding: 0 20%;
  font-weight: lighter;
}

p.aboutMe-wrap {
  font-size: 18px;
  color: #fff;
}

h2.title-aboutMe {
  color: #3ae7ff;
  font-size: 30px;
  padding: 2rem 0;
}

section.aboutMe-container em {
  color: #3ae7ff;
}

@media only screen and (min-width: 250px) and (max-width: 768px) {
  section.aboutMe-container {
    padding: 0 7%;
  }
}
